node_modules
ios/swift-2048.xcodeproj/xcuserdata/

# Xcode
.DS_Store
ios/.DS_Store
ios/build/*
ios/*.pbxuser
ios/!default.pbxuser
ios/*.mode1v3
ios/!default.mode1v3
ios/*.mode2v3
ios/!default.mode2v3
ios/*.perspectivev3
ios/!default.perspectivev3
ios/*.xcworkspace
ios/profile
ios/*.moved-aside
ios/DerivedData
ios/.idea/
ios/*.hmap
ios/*.xccheckout
ios/.xcode.env.local
ios/**/xcuserdata
ios/**/xcshareddata
#CocoaPods
ios/Pods
ios/Podfile.lock
