<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120476698257-9mrv8oa2jmic8qruesijcpjtjnsjchri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120476698257-9mrv8oa2jmic8qruesijcpjtjnsjchri</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>120476698257-0cajktf87jo2qsuuinopm91i9d38hpgk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBd5y_eCCsbgNGPKSroAEkqOtVFwVggmGE</string>
	<key>GCM_SENDER_ID</key>
	<string>120476698257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>us.miamed.amboss-knowledge</string>
	<key>PROJECT_ID</key>
	<string>avocado-262ba</string>
	<key>STORAGE_BUCKET</key>
	<string>avocado-262ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120476698257:ios:6599c99a57c9e26f</string>
	<key>DATABASE_URL</key>
	<string>https://avocado-262ba.firebaseio.com</string>
</dict>
</plist>